@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Stylish&display=swap");
:root {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  background-color: #f4f3ee;
}
.navbar .nav-brand {
  padding: 10px 20px;
}
.navbar .nav-brand a {
  text-decoration: none;
}
.navbar .nav-brand i {
  color: red;
  font-size: 32px;
}
.navbar .nav-brand span {
  font-size: 28px;
  font-weight: 800;
  margin-left: 5px;
  color: #987284;
  letter-spacing: 0.1rem;
}
.navbar .nav-menu li {
  display: inline-block;
  width: 100px;
}
.navbar .nav-menu li a {
  text-decoration: none;
}
.navbar .nav-menu li a i,
.navbar .nav-menu li a span {
  font-size: 1.25rem;
  font-weight: 800;
  color: #987284;
  letter-spacing: 0.1rem;
}
.navbar .nav-menu li a span {
  margin-left: 10px;
}

.col-3 {
  padding: 0;
}

.home-pane {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f3ee;
  padding-left: 20px;
  padding-right: 20px;
}

.course-card {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f4f3ee;
}

.course-link {
  text-decoration: none;
  color: black;
}

.course-card-img {
  text-align: center;
}
.course-card-img img {
  max-width: 163px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.course-card-title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background-color: #fff;
}

.course-card-body {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 10px;
  background-color: #fff;
}

.chapter-pane {
  height: 100%;
  background-color: #f4f3ee;
}

.saying {
  height: 50%;
  background-image: url("/img/bg.png");
  text-align: center;
  padding-top: 120px;
  margin-bottom: -80px;
}
.saying strong {
  font-size: 2rem;
  color: #987284;
  letter-spacing: 0.1rem;
}

.saying::after {
  content: "";
  display: block;
  padding-bottom: 25%;
}

.css-world {
  width: 80%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.css-world-title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
  font-size: 1.75rem;
}

.css-world-chapter {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.css-world-list {
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
}
.css-world-list a {
  text-decoration: none;
}

.post {
  padding: 20px;
  letter-spacing: 0.1rem;
}
.post p {
  padding-left: 10px;
  padding-right: 10px;
}
.post h4 {
  padding-left: 10px;
  padding-right: 10px;
}

.tip {
  padding: 10px;
  background-color: #f9b5ac;
}
.tip h5 {
  padding-bottom: 0px;
  margin: 0px;
  font-size: 1rem;
}
.tip p {
  padding: 0;
  margin: 0px;
}

.post-title {
  text-align: right;
  border-bottom: 1px solid black;
  padding-right: 20px;
}

.post-sub-title {
  text-align: right;
  font-size: 1.25rem;
  padding-bottom: 20px;
  color: #9dbf9e;
}
.post-sub-title span {
  font-size: 1rem;
}

pre {
  margin: 10px 20px;
}

footer {
  padding: 20px;
}