@charset "utf-8";

table {
	border-collapse: collapse;
}
td, th {
	padding: 8px 20px;
	border: 1px solid #b7b7b7;
}
td:nth-child(4), td:nth-child(6) {
	text-align: right;
}
thead {
	background: url(../images/bg.png);
}