@charset "utf-8";

body {
	margin: 0;
}
nav {
	border-top: 8px solid #34589e;
	background: #2a6fb7;
}
nav ul {
	overflow: hidden;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}
nav li {
	box-sizing: border-box;
	float: left;
	border-right: 1px solid #34589e;
	width: 20%;
}
nav li:last-child {
	border-right: none;
}
nav li a {
	display: block;
	padding: 20px 0;
	width: 100%;
	text-decoration: none;	
	text-align: center;
	font-size: 14px;
	color: #ffffff;
}
nav li a:hover {
	background: #34589e;
}