@charset "utf-8";

table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid #b7b7b7;
}
tbody th {
	text-align: left;
	vertical-align: top;
}
tbody td:last-child {
	text-align: right;
}