@charset "utf-8";

html {
	font-size: 16px;
}
@media screen and (min-width: 768px) {
	html {
		font-size: 14px;
	}
}
html * {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: url(../images/bg.png);
	font-family: sans-serif;
	font-size: 14px;
}
/* ヘッダー */
header {
	background: #000000;
}
.header-container {
	margin: 0 auto;
	padding: 30px 20px 10px 20px;
	max-width: 1000px;
}
.header-logo {
	margin: 0;
	width: 100px;
	height: 22px;
	background-image: url(../images/logo.png);
	background-size: 100px 22px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
@media screen and (min-width: 768px) {
	/* ヘッダー */
	.header-logo {
		width: 200px;
		height: 44px;
		background-size: 200px 44px;
	}
}
/* ナビゲーション */
nav {
	font-size: 0.78rem;
	background: #000000;
}
@media screen and (min-width: 768px) {
	nav {
		font-size: 1rem;
	}
}
.nav-container {
	margin: 0 auto;
	padding: 0 20px 0 20px;
	max-width: 1000px;
}
.globalnav {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style: none;
}
.globalnav li {
	flex: 0 0 20%;	
}
.globalnav li a {
	display: block;
	padding: 10px 0;
	border-bottom: 8px solid #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 100%;
	color: #ffffff;
}
.globalnav li a:hover,
.globalnav li a.current {
	border-bottom: 8px solid #7bae34;
	color: #7bae34;
}
/* フッター */
footer { }
.footer-container {
	margin: 0 auto;
	padding: 20px;
	max-width: 1000px;
	border-radius: 0 0 10px 10px;
	background: #000000;	
}
.copyright {
	margin: 0;
	font-size: 0.8rem;
	color: #ffffff;
}
/* メインコンテンツレイアウト部分 */
.main-contents { }
.main-contents-container {
	margin: 0 auto;
	padding: 0 0 40px 0;
	max-width: 1000px;
	background: #ffffff;
}
/* フォーム部分 */
.contact {
	margin: 0 20px 0 20px;
}
.contact h1 {
	margin: 0;
	padding: 30px 0;
	font-size: 1.2rem;
}
.contact p {
	margin: 0 0 2rem 0;
	padding: 0;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
	margin: 0;
	padding: 0.5rem;
	width: 100%;
	border: 2px solid #dadada;
	font-size: 1.2rem;
}
.contact textarea {
	height: 140px;
}
@media screen and (min-width: 768px) {
	/* フォーム部分 */
	.contact input[type="text"],
	.contact input[type="email"],
	.contact textarea {
		width: 600px;
	}
}
.contact input[type="submit"] {
	margin: 0;
	padding: 0.5rem 2rem;
	background-color: #7bae34;
	border: 1px solid #dadada;
	border-radius: 10px;
	font-size: 1rem;
	color: #ffffff;
}