@charset "utf-8";

h1 {
	font-size: 24px;
}
input[type="text"], input[type="email"], input[type="tel"] {
	border: 1px solid #ccc;
	width: 300px;
	font-family: sans-serif;
	font-size: 16px;
}
textarea {
	border: 1px solid #ccc;
	width: 50%;
	height: 160px;
	font-family: sans-serif;
	font-size: 16px;
}
input:required,
input[type="email"]:invalid {
	background: #ffb3b3;
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid {
	background: transparent;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
	background: #faf4e2;
}