@charset "utf-8";

.wrapper {
	width: 800px;
}
/* 탭 버튼을 나란히 하는 부분의 스타일 */
.tabmenu {
	overflow: hidden;
	list-style: none;
	margin: 0;
	border-bottom: 5px solid #1495b5;
	padding: 0;
}
.tabmenu li {
	float: left;
	margin: 0 8px 0 0;
	background: #d9dfe1;
	border-radius: 10px 10px 0 0;
}
.tabmenu li:hover {
	background: #cde0e5;
}
.tabmenu li a {
	display: block;
	padding: 5px 30px;
	text-decoration: none;
	color: #3e5358;
}
/* 선택된 탭 버튼 스타일 */
.tabmenu li.current {
	background: #1495b5;
}
.tabmenu li.current a {
	color: #ffffff;
}
/* 탭 버튼으로 바뀐 콘텐츠 */
.tab .contents {
	padding: 20px;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
	border-left: 1px solid #959595;
}