@charset "utf-8";

body {
	margin: 0;
}
/* header의 h1과 div.search를 flexbox로 레이아웃 */
header {
	display: flex;
	max-width: 1000px;
	margin: 30px auto;
}
.logo {
	margin: 0;
	width: 346px;
	height: 82px;
	background: url(../images/logo.png);
	font-size: 0;
}
.search {
	margin-top: auto;
	margin-left: auto;
}
/* 検索フォームのスタイル */
input[type="text"] {
	padding: 10px;
	width: 200px;
	height: 20px;
	border-top: 3px solid #dedede;
	border-right: none;
	border-bottom: 3px solid #dedede;
	border-left: 3px solid #dedede;
	border-radius: 30px 0 0 30px;
	font-size: 20px;
}
input[type="submit"] {
	margin: 0;
	padding: 0 20px;
	height: 46px;
	border: none;
	border-radius: 0 30px 30px 0;
	font-size: 12px;
	background-color: #D2474A;
	color: #ffffff;
	vertical-align: bottom;
}
/* ナビゲーションのスタイル（flexboxでレイアウト） */
nav {
	margin: 0 auto;
	max-width: 1000px;
	border-radius: 20px;
	background: #000000;
}
nav ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}
nav li a {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}
nav li a:hover {
	color: #d2474a;
}

