@charset "utf-8";

body {
	margin: 0;
}
nav {
	padding: 30px 0;
	border-bottom: 2px solid #000000;
}
nav ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}
nav li a {
	display: block;
	padding: 0 30px;
	text-decoration: none;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: #000000;
	transform: rotate(-20deg);
	transition: transform 0.3s linear;
}
nav li a:hover {
	color: #d34547;
	transform: rotate(0deg);
}
