@charset "utf-8";

/*
.submenu {
	width: 300px;
}
*/
.submenu ul {
	list-style:none;
	margin: 0;
	padding: 0;

	border: 1px solid #98adb7;
	border-radius: 10px;
	background: #e7e7e7;
}
.submenu li {
	border-bottom: 1px solid #98adb7;
	background:url(../images/arrow.png) right 20px center no-repeat;
}
.submenu li:last-child {
	border-bottom: none;
}
.submenu li:hover {
	background: #c4d2dd;
}
.submenu a {
	display: block;
	padding: 10px 30px;
	text-decoration: none;
	color: #406485;
}