@charset "utf-8";

.info {
	margin-bottom: 20px;
	width: 298px;
}
.info h2 {
	margin: 0;
	border: 1px solid #6bc5e2;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background: #6bc5e2;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}
.info p {
	margin: 0;
	border: 1px solid #6bc5e2;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}