@charset "utf-8";

::-moz-selection {
	background-color: #365395;
	color: #fff;
}
::selection {
	background-color: #365395;
	color: #fff;
}
.contents h1 {
	font-size: 25px;
	border-bottom: 5px solid #40bdc2;
}
.contents h2 {
	font-size: 20px;
}
img.float_left {
	float: left;
	margin: 0 10px 10px 0;
}