@charset "utf-8";

html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.keyvisual {
	position: relative;
	height: 100%;
	background: url(../images/bg.jpg) center top no-repeat;
	background-size: cover;
}
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
}
