@charset "utf-8";

.pagenation {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagenation li {
	float: left;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	border-left: 1px solid #b9b9b9;
	background: #e0e0e0;
}
.pagenation li:first-child {
	border-radius: 10px 0 0 10px;
}
.pagenation li:last-child {
	border-right: 1px solid #b9b9b9;
	border-radius: 0 10px 10px 0;
}
.pagenation li:hover {
	background: #d1d1d1;
}
.pagenation li a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: #3e5358;
}
.pagenation li.current {
	background: #f6d7b6;
}