@charset "utf-8";

.sale-box {
	margin: 0 auto;
	padding: 80px;
	width: 600px;
	background: linear-gradient(90deg, #ff7f82, #dcffb8);
}
.copy {
	margin: 0;
	text-align: center;
	font-size: 80px;
	color: #ffffff;
}