@charset "utf-8";

.keyvisual {
	position: relative;	
	width: 800px;
}
.photo {
	font-size: 0; 
}
.copy {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #353441;
	opacity: 0.8;
	text-align: center;
}
.copy a {
	text-decoration: none;
	color: #fff;
}
.copy a:hover {
	text-decoration: none;
	color: #ccc;
}
.copy p {
	padding: 20px 40px;
	font-size: 18px;
}