@charset "UTF-8";

.rank {
	margin: 0;
	padding: 0;
}
.rank li {
	padding: 5px 0 20px 55px;
	list-style: none;
	background-color: #f30;
}
.rank li:nth-child(1) {
	background: url(../images/crown1.png) no-repeat;
}
.rank li:nth-child(2) {
	background: url(../images/crown2.png) no-repeat;
}
.rank li:nth-child(3) {
	background: url(../images/crown3.png) no-repeat;
}