@charset "utf-8";

.articles {
	width: 400px;
}
.articles ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
}
.articles li {
	overflow: hidden;
	padding: 10px;
	margin-bottom: 20px;
	background:#e9e2de;
}
.articles .thumbnail {
	float: left;
	margin-right: 10px;
	font-size: 0;
}
.articles .category {
	margin: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #dd3a59;
}
.articles .title {
	margin: 0;
	font-size: 14px;
}
.articles .title a {
	text-decoration: none;
	color: #000000;
}
.articles .title a:hover {
	color: #717171;
}
/* サムネイル画像にスタイルを適用 */
.thumbnail img {
	border-radius: 50%;
}