@charset "UTF-8";

body {
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
}
.content {
	margin: 64px auto 0 auto;
	padding: 32px;
	max-width: 900px;
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.5);
}