@charset "utf-8";

h1 {
	font-size: 24px;
}
input[type="text"], input[type="email"], input[type="tel"] {
	width: 300px;
	font-family: sans-serif;
	font-size: 16px;
}
textarea {
	border: 1px solid #ccc;
	width: 420px;
	height: 160px;
	font-family: sans-serif;
	font-size: 16px;
}
.textfield_label {
	display: inline-block;
	width: 7em;
}