@charset "utf-8";

body {
	margin: 0;
	background: url(../images/bg.jpg);
}
.content {
	margin: 64px auto 0 auto;
	padding: 32px;
	max-width: 900px;
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.8);
}